.default {
  transform: scale3d(0.7, 0.7, 0.7);
  animation: scaleDragon 4s both;
  animation-delay: 0.6s;
}

@keyframes scaleDragon {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
