.moveToLeft {
  animation: moveToLeft 3s ease-in-out infinite alternate-reverse;
  -webkit-animation: moveToLeft 3s ease-in-out infinite alternate-reverse;
}

.moveToRight {
  animation: moveToRight 3s ease-in-out infinite alternate-reverse;
  -webkit-animation: moveToRight 3s ease-in-out infinite alternate-reverse;
}

@keyframes moveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes moveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
