.moveToLeft {
  filter: grayscale(1);
  animation: moveToLeft 10s ease-in-out infinite alternate-reverse;
  -webkit-animation: moveToLeft 10s ease-in-out infinite alternate-reverse;
}

.moveToRight {
  filter: grayscale(1);
  animation: moveToRight 10s ease-in-out infinite alternate-reverse;
  -webkit-animation: moveToRight 10s ease-in-out infinite alternate-reverse;
}

@keyframes moveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}

@keyframes moveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40%);
  }
}
